# ---------------------------
# Python & Environments
# ---------------------------
__pycache__/
*.pyc
venv/
.env/
env/
.venv/
.env

# ---------------------------
# ML Models & Ultralytics
# ---------------------------
*.pt
runs/
Ultralytics/

# ---------------------------
# Project Specific
# ---------------------------
_backup/
Dataset/
node_modules/
.DS_Store
